.contenedor{
    border:2px solid black;
    background-color: white;
    /*position: relative;*/
    margin: auto;
    padding: auto;
    width: 40%;
    display: block;
    height: 500px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    }
    
.cuadradorojo{
    background-color: red;
    width: 160px;
    height: 165px;
    margin-left: auto;
    font-size: 30px;
    padding: auto;
    flex-wrap: nowrap;
    color: white;
    line-height: 200px;
    text-align: center;
    vertical-align: top;
    align-items: center;
    margin-bottom: 0px;
    }            


.cuadradoazul{
    background-color: blue;
    width: 160px;
    height: 165px;
    margin-left: auto;
    font-size: 30px;
    padding: auto;
    flex-wrap: nowrap;
    color: white;
    line-height: 200px;
    text-align: center;
    vertical-align: middle
    }
            
.cuadradoverde{
    background-color: green;
    width: 160px;
    height: 170px;
    margin-left: auto;
    font-size: 30px;
    padding: auto;
    color: white;
    flex-wrap: nowrap;
    line-height: 200px;
    text-align: center;
    margin-bottom: 0px;
    }