.rojo{
    background-color: red;
    width: 200px;
    height: 300px;
    margin-bottom: 50px;
    box-shadow: 15px 10px 10px black;
}
.azul{
    background: rgb(223,254,3);
background: linear-gradient(90deg, rgba(223,254,3,1) 0%, rgba(15,121,9,1) 44%, rgba(255,0,194,1) 100%);
    width: 200px;
    height: 300px;
    color: white;
}